<nav>
    <div class="logo">
        <span>Schedule website</span>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/schedules">Schedule</a></li>
    </ul>
</nav>