<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <span id="error-message">Welcome to our schedule website</span>
</main>
</body>
</html>